    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:44
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-compass:before { content: "\f100"; }
.flaticon-compass-1:before { content: "\f101"; }
.flaticon-compass-2:before { content: "\f102"; }
.flaticon-compass-3:before { content: "\f103"; }
.flaticon-gps:before { content: "\f104"; }
.flaticon-map:before { content: "\f105"; }
.flaticon-map-1:before { content: "\f106"; }
.flaticon-map-2:before { content: "\f107"; }
.flaticon-map-3:before { content: "\f108"; }
.flaticon-map-4:before { content: "\f109"; }
.flaticon-map-5:before { content: "\f10a"; }
.flaticon-map-6:before { content: "\f10b"; }
.flaticon-map-7:before { content: "\f10c"; }
.flaticon-placeholder:before { content: "\f10d"; }
.flaticon-placeholder-1:before { content: "\f10e"; }
.flaticon-placeholder-10:before { content: "\f10f"; }
.flaticon-placeholder-11:before { content: "\f110"; }
.flaticon-placeholder-12:before { content: "\f111"; }
.flaticon-placeholder-13:before { content: "\f112"; }
.flaticon-placeholder-14:before { content: "\f113"; }
.flaticon-placeholder-15:before { content: "\f114"; }
.flaticon-placeholder-16:before { content: "\f115"; }
.flaticon-placeholder-17:before { content: "\f116"; }
.flaticon-placeholder-18:before { content: "\f117"; }
.flaticon-placeholder-19:before { content: "\f118"; }
.flaticon-placeholder-2:before { content: "\f119"; }
.flaticon-placeholder-20:before { content: "\f11a"; }
.flaticon-placeholder-21:before { content: "\f11b"; }
.flaticon-placeholder-22:before { content: "\f11c"; }
.flaticon-placeholder-23:before { content: "\f11d"; }
.flaticon-placeholder-24:before { content: "\f11e"; }
.flaticon-placeholder-25:before { content: "\f11f"; }
.flaticon-placeholder-26:before { content: "\f120"; }
.flaticon-placeholder-27:before { content: "\f121"; }
.flaticon-placeholder-28:before { content: "\f122"; }
.flaticon-placeholder-29:before { content: "\f123"; }
.flaticon-placeholder-3:before { content: "\f124"; }
.flaticon-placeholder-30:before { content: "\f125"; }
.flaticon-placeholder-31:before { content: "\f126"; }
.flaticon-placeholder-32:before { content: "\f127"; }
.flaticon-placeholder-33:before { content: "\f128"; }
.flaticon-placeholder-34:before { content: "\f129"; }
.flaticon-placeholder-4:before { content: "\f12a"; }
.flaticon-placeholder-5:before { content: "\f12b"; }
.flaticon-placeholder-6:before { content: "\f12c"; }
.flaticon-placeholder-7:before { content: "\f12d"; }
.flaticon-placeholder-8:before { content: "\f12e"; }
.flaticon-placeholder-9:before { content: "\f12f"; }
.flaticon-route:before { content: "\f130"; }
.flaticon-star:before { content: "\f131"; }
    
    $font-Flaticon-compass: "\f100";
    $font-Flaticon-compass-1: "\f101";
    $font-Flaticon-compass-2: "\f102";
    $font-Flaticon-compass-3: "\f103";
    $font-Flaticon-gps: "\f104";
    $font-Flaticon-map: "\f105";
    $font-Flaticon-map-1: "\f106";
    $font-Flaticon-map-2: "\f107";
    $font-Flaticon-map-3: "\f108";
    $font-Flaticon-map-4: "\f109";
    $font-Flaticon-map-5: "\f10a";
    $font-Flaticon-map-6: "\f10b";
    $font-Flaticon-map-7: "\f10c";
    $font-Flaticon-placeholder: "\f10d";
    $font-Flaticon-placeholder-1: "\f10e";
    $font-Flaticon-placeholder-10: "\f10f";
    $font-Flaticon-placeholder-11: "\f110";
    $font-Flaticon-placeholder-12: "\f111";
    $font-Flaticon-placeholder-13: "\f112";
    $font-Flaticon-placeholder-14: "\f113";
    $font-Flaticon-placeholder-15: "\f114";
    $font-Flaticon-placeholder-16: "\f115";
    $font-Flaticon-placeholder-17: "\f116";
    $font-Flaticon-placeholder-18: "\f117";
    $font-Flaticon-placeholder-19: "\f118";
    $font-Flaticon-placeholder-2: "\f119";
    $font-Flaticon-placeholder-20: "\f11a";
    $font-Flaticon-placeholder-21: "\f11b";
    $font-Flaticon-placeholder-22: "\f11c";
    $font-Flaticon-placeholder-23: "\f11d";
    $font-Flaticon-placeholder-24: "\f11e";
    $font-Flaticon-placeholder-25: "\f11f";
    $font-Flaticon-placeholder-26: "\f120";
    $font-Flaticon-placeholder-27: "\f121";
    $font-Flaticon-placeholder-28: "\f122";
    $font-Flaticon-placeholder-29: "\f123";
    $font-Flaticon-placeholder-3: "\f124";
    $font-Flaticon-placeholder-30: "\f125";
    $font-Flaticon-placeholder-31: "\f126";
    $font-Flaticon-placeholder-32: "\f127";
    $font-Flaticon-placeholder-33: "\f128";
    $font-Flaticon-placeholder-34: "\f129";
    $font-Flaticon-placeholder-4: "\f12a";
    $font-Flaticon-placeholder-5: "\f12b";
    $font-Flaticon-placeholder-6: "\f12c";
    $font-Flaticon-placeholder-7: "\f12d";
    $font-Flaticon-placeholder-8: "\f12e";
    $font-Flaticon-placeholder-9: "\f12f";
    $font-Flaticon-route: "\f130";
    $font-Flaticon-star: "\f131";